<!DOCTYPE html>
<html>
<head>
    <title>Socket.io Chat</title>
    <style>
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
    </style>
</head>
<body>
    <div id="app">
        <ul id="messages">
            <li v-for="msg in messages">{{ msg.nickname }}: {{ msg.message }}</li>
        </ul>
        <form id="form" @submit.prevent="sendMessage">
            <input id="nickname" v-model="nickname" placeholder="Enter your nickname" autocomplete="off" required />
            <input id="input" v-model="message" placeholder="Type your message" autocomplete="off" required />
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                nickname: '',
                message: '',
                messages: []
            },
            created() {
                var socket = io();

                socket.on('chat message', (msg) => {
                    this.messages.push(msg);
                });

                this.socket = socket;
            },
            methods: {
                sendMessage() {
                    this.socket.emit('chat message', { nickname: this.nickname, message: this.message });
                    this.message = '';
                }
            }
        });
    </script>
</body>
</html>
